@page
@model Filmovi.Pages.EditModel
@{
}
<h1> Edit</h1>
<p>@Model.film.Ime</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="film.Id"/>
            <div class="form-group">
                <label asp-for="film.Ime" class="control-label"></label>
                <input asp-for="film.Ime" class="form-control" value="" />
                <label asp-for="film.godina" class="control-label"></label>
                <input asp-for="film.godina" class="form-control" value="" />
                <label asp-for="film.img" class="control-label"></label>
                <input asp-for="film.img" class="form-control" value="" />

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Index"> Back to List</a>
</div>

